.device-type-picker {
  display: flex;
  flex-wrap: wrap;

  .device-type-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: calc(33% - 2rem);
    width: calc(50% - 0.5rem);
    margin: 0 1rem 1rem 0;
    padding-top: 0.25rem;
    border: 1px solid var(--secondaryBtnBg);
    background-color: white;
    color: var(--primary);

    &:nth-child(even) {
      margin-right: 0;
    }

    &.selected {
      background-color: var(--primaryBtnBg);
      color: var(--primaryBtnText);
      box-shadow: 0 1px 16px rgba(0, 0, 0, 0.3) inset;

      label {
        color: var(--primaryBtnText);
      }
    }

    label {
      text-align: center;
    }

    .fa {
      font-size: 1.5rem;
    }
  }
}