.schedule-list {
  header {
    position: relative;
  }

  .abs-right {
    position: absolute;
    right: 0.5rem;
  }

  .edit-link {
    border-bottom: 1px dotted white;
    color: white;
    cursor: pointer;

    &:active {
      color: #CCC;
    }
  }
}