.standings-logo {
  text-align: center;
  width: 40px;
  padding: 0.5rem 0;
}

.league-standings,
.division-standings {
  display: flex;
  flex-direction: column;
}

.division-standings {
  padding: 1.5em 3em;
  width: 100%;

  > h2 {
    text-align: center;
  }
}