.standings-logo {
  text-align: center;
  width: 40px;
  padding: 0.5rem 0;
}

.league-standings,
.division-standings {
  display: flex;
  flex-direction: column;
}

.division-standings {
  padding: 1.5em 3em;
  width: 100%;

  > h2 {
    text-align: center;
  }

  @media (max-width: 1400px) {
    padding: 0.5em 1em;

    > h2 {
      margin: 0.5rem 0;
      font-size: 1.25rem;
    }
  }
}