.main.league-home {
  align-items: flex-start;
  flex-direction: row;
}

.league-left-sidebar {
  order: 1;
}

.league-main {
  flex: 2;
  order: 1;

  &.hide-large {
    display: none;
  }
}

.league-right-sidebar {
  order: 3;
}

.league-home-col {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem;
  background: white;
}

.league-left-sidebar,
.league-right-sidebar {
  width: 200px;
}

.league-standings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-list {
  width: 100%;

  h3 {
    text-transform: uppercase;
    background: var(--colorMediumText);
    color: white;
    font-size: 1rem;
    margin: 0;
    padding: 0.25rem;
    user-select: none;

    &.live {
      background: var(--liveScoreHeadingBg);
      color: var(--colorDefaultText)
    }
  }
}

.recent-match-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    border-bottom: 1px solid #ddd;

    .scoreboard.box-score {
      margin: 0;
      min-width: unset;
      padding: 0.5rem;
      width: calc(100% - 1rem);
      border: none;
      border-radius: 0px;

      .date-time-header {
        margin: 0;
        font-size: 0.75rem;
        font-style: normal;
        text-decoration: none;
      }

      .player-name,
      .score-number-box {
        font-size: 1rem;
      }

      .player-name {
        padding: 3px;

        &.winner:before {
          top: 0.5em;
          left: -0.5em;
        }
      }

      .score-number-box {
        margin: 0 2px;
        width: 2rem;
      }

      .stats-row {
        display: none;
      }
    }

    .scoreboard.box-score.mini.ping-pong {
      font-size: 0.75rem;
      flex: 1;
      padding: 3px;

      .player-name,
      .score-number-box {
        font-size: inherit;
        width: 1.25em;

        &.winner:before {
          left: -3px;
        }
      }
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:first-of-type {
      border-top: 1px solid #ddd;
    }
  }
}

.league-home-tabs {
  display: none;
}

@media (max-width 1400px) {
  .league-home-col {
    margin: 0 0.5rem;
  }

  .main.league-home {
    padding-top: calc(56px + 1rem);
    flex-wrap: wrap;
  }

  .league-main {
    // order: 3;
    min-width: calc(100vw - 420px);
  }
}

@media (max-width 850px) {
  .main.league-home {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .league-home-col {
    min-width: unset;
    width: calc(100% - 1rem);

    &.hide,
    &:not(.league-main) {
      display: none;
    }

    &.show {
      display: flex;
    }
  }

  .league-home-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    width: 100%;

    .segmented-control {
      justify-content: center;
      width: 100%;

      .btn {
        width: 50%;
      }
    }
  }
}
