.main.set-device {
  max-width: 800px;

  h2, p {
    padding: 0 1rem;
  }

  h2 {
    margin: 1rem 0;
  }

  p {
    margin: 0;
  }

  .alert {
    padding: 1rem;
  }

  @media screen and (max-height: 600px) {
    .form-group.big {

      label {
        font-size: 1rem;
      }

      input {
        font-size: 1.25rem;
        height: 3rem;
      }
    }
  }
}